section {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#signupForm {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section p {
  margin-top: 3rem;
  margin-bottom: 0.1rem;
}

input {
  padding: 1rem;
  border: 1px solid var(--color-header-footer-text);
  border-radius: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-header-footer-text);
}

button {
  background-color: var(--color-header-footer-text);
  color: var(--color-login);
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  border-radius: 3rem;
  padding: 0.7rem 4.5rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 3.5rem;
}

button:hover {
  cursor: pointer;
}

.container {
  height: 100vh;
}

#alert p {
  font-size: 22px;
  color: red;
  font-weight: 300;
}
