/* Importação das fontes e estilos */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(./header.css);
@import url(./footer.css);

/* Configurações gerais */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  /* cores da página */

  --color-header-footer-text: #365A5A;
  --color-login: #fff;

}



body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  
  
}

/* Estilização header */



/* Estilização main */

.container{
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  /* height: 100vh; */
}

main{
  text-align: center;
  margin-top: 2rem; 
}

main input{
 text-align: center;
 width: 100%;
 padding: 1.5rem;
 font-size: 2rem; 
 border: 0.2px solid var(--color-header-footer-text);
}

main input::placeholder{
  font-size: 2rem;
  font-weight: 200;
}

#bookname{
  width: 60%;
  border-radius: 2rem 0 0 2rem;
}

#authorname{
  width: 15%;
}

main h2{
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 6rem;
  font-weight: 200;
}

main button{
 padding: 1.5rem;
 font-size: 2rem; 
 border: 0.2px solid var(--color-header-footer-text);
 border-radius: 0 2rem 2rem 0;
 cursor: pointer;
 width: 5%;
}

#infobook{
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-header-footer-text);
  border-radius: 2rem;
  width: 40%;
  margin: 0 auto;
  padding: 4rem 0;
  margin-bottom: 3rem;

  font-size: 2rem;
  font-weight: 300;
}

#infobook img{
  border-radius: .5rem;
}

#infobook span{
  font-weight: 500;
}

#bookdescription{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 30rem;
  height: 25rem;
  overflow-y: auto;
  text-align: left;
  padding: .2rem;
}


/* Estilização livros em alta */

section p{
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 6.5rem;
}

.card{
  display: flex;
  column-gap: 2.5rem; 
  
}

.card img{
  width: auto;
  aspect-ratio: 9/10;
  border-radius: .5rem;
}

#categories{
  margin-top: 12rem;
}

#categories > div{
 margin-bottom: 2rem;
}

