header {
  background-color: var(--color-header-footer-text);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem;
}

header > h1 a img {
  width: 25rem;
}

#login {
  display: flex;
  align-items: center;
}

#login a {
  font-size: 4rem;
  text-decoration: none;
  color: var(--color-login);
  margin-top: 2rem;
}

/*estilização do botão switch */

.switch {
  background-color: #ffffff;
  border: none;
  color: #365a5a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
}

.switch.on {
  background-color: #95bfbe; /* cor quando estiver ligado */
}

.switch.off {
  background-color: #95bfbe; /* cor quando estiver desligado */
}

#toggleMenu {
  color: #365a5a;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}

.buttontoggle {
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
  margin: 2px;
}

.buttonSelected {
  color: white;
  background-color: #365a5a;
  border-radius: 20px;
}

.buttonUnselected {
  color: #365a5a;
}

.menu {
  /* display: none; */
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #365a5a;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 150px;
}

.menu a {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #1f3131;
}

.hidden {
  display: none;
}
