/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização geral */
body {
    font-family: "Josefin Sans", sans-serif;
}

/* Estilização do main */
main {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaçamento entre as colunas */
}

/* Estilização da caixa principal */
.main-box {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre as linhas */
    padding: 20px;
    border: 4px solid #365A5A; /* Bordas das caixas */
    border-radius: 15%; /* Bordas da caixa principal */
}

/* Estilização das linhas */
.row {
    display: flex;
    gap: 10px; /* Espaçamento entre as caixas */
}

/* Estilização das caixas */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ajuste conforme necessário */
    height: 150px; /* Ajuste conforme necessário */
    border: 3px solid #365A5A; /* Bordas das caixas */
    border-radius: 15%;
    background-color: #f0f0f0; /* Cor de fundo das caixas */
}

/* Estilização das imagens */
.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Estilização geral */
.textoVerde {
    font-size: 4rem;
    color: #365A5A;
}

.tituloBox {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; /* Espaçamento entre o título e as caixas de livro */
}

#livrosLidos, #WishList {
    width: 25%;
    padding: 20px;
}

.box-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#nomeUsuario {
    font-size: 3rem;
    font-weight: bold;
}

#qtdLivrosLidos, #bio {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Estilização do perfil */
aside {
    background-color: #CADFDF;
    text-align: left;
    padding: 20px;
    width: 25%;
    flex: 0.25;
    margin: 0; /* Remover margens */
}
